<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Pi Door</title>
	<meta name="keywords" content="Pi Door, piiq, PiNetwork" />
	<meta name="description" content="Pi Door, welcome to join PiNetwork" />
	<link rel="stylesheet" href="public/css/welcome.css">

<body>
	<div class="reveal">
		<%= text %>
	</div>
	<script src="public/js/welcome.js"></script>
</body>

</html>